/* If you want to reference a HTML element, use the html element (h1, h2 etc)
If you want to reference a class, class="button", use .button 
If you want to reference a class within a element, use element.class (h1.center = header 1 with the class="center")
If you want to reference a id, id="vizContainer" use #vizContainer */

body {
  background-color: rgb(125, 241, 47);
}

h1 {
  font-family: cursive;
}

html {
  padding: 0%;
  margin: 0%;
}

button {
  font-family: cursive;
}
